* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4 {
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(burlywood,beige);
}
.container {
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    background: linear-gradient(beige 70%, burlywood 30%);
}
button {
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;

}
input {
  padding: 5px;
  width: 180px;  
  border-radius: 5px;

}
.output{
    padding: 25px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 0.8rem;

}